.about-technologies__title {
    font-family: 'Roboto Slab', 'Arial', 'Helvetica';
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 46px;
    color: #1A1B22;
    max-width: 344px;
    margin-bottom: 24px;
}

@media screen and (max-width: 1280px) and (min-width: 1024px) {
    .about-technologies__title {
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
    .about-technologies__title {
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 767px) and (min-width: 425px) {
    .about-technologies__title {
        margin-bottom: 40px;
        font-size: 30px;
        line-height: 40px;
    }
}

@media screen and (max-width: 425px) {
    .about-technologies__title {
        margin-bottom: 40px;
        font-size: 30px;
        line-height: 40px;
    }
}