.analytics-by-day__measure-container {
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    margin-top: 16px;
}

@media screen and (max-width: 767px) and (min-width: 425px) {
    .analytics-by-day__measure-container {
        display: none;
    }
}

@media screen and (max-width: 425px) {
    .analytics-by-day__measure-container {
        display: none;
    }
}