.about-project__container {
    max-width: 815px;
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
    .about-project__container {
        margin-left: 0;
        max-width: 1024px;
    }
}

@media screen and (max-width: 767px) and (min-width: 425px) {
    .about-project__container {
        margin-left: 0;
        max-width: 752px;
    }
}

@media screen and (max-width: 425px) {
    .about-project__container {
        margin-left: 0;
        max-width: 425px;
    }
}