.statistics__menu-item_active {
    font-family: 'Roboto', 'Arial', 'Helvetica';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #B6BCBF;
    
}