.searching-results__analitics {
    font-family: 'Roboto', 'Times New Roman', 'Arial';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    margin-right: 16px;
    text-decoration: none;
    color: #1A1B22;
}

.searching-results__analitics:visited {     
    color: #1A1B22;
}

.searching-results__analitics:hover {
    cursor: pointer;
}

@media screen and (max-width: 767px) and (min-width: 425px) {
    .searching-results__analitics {
        margin-right: 0;
    }
}

@media screen and (max-width: 425px) {
    .searching-results__analitics {
        margin-right: 0;
    }
}