.searching-results__container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 16px;
    grid-column-gap: 16px;
    margin: 0 16px 64px;
    max-width: 100%;
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
    .searching-results__container {
        max-width: 768px;
        grid-row-gap: 8px;
        grid-column-gap: 8px;
    }
}

@media screen and (max-width: 767px) and (min-width: 425px) {
    .searching-results__container {
        max-width: 767px;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 425px) {
    .searching-results__container {
        max-width: 425px;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr;
    }
}