.searching-results__title {
    font-family: 'Roboto Slab', 'Times New Roman', 'Arial';
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 46px;
    color: #1A1B22;
    margin-left: 16px;
}

@media screen and (max-width: 767px) and (min-width: 425px) {
    .searching-results__title {
        margin-left: 0;
        margin-bottom: 16px;
        font-size: 30px;
        line-height: 34px;
    }
}

@media screen and (max-width: 425px) {
    .searching-results__title {
        margin-left: 0;
        margin-bottom: 16px;
        font-size: 30px;
        line-height: 34px;
    }
}