.header__menu-item {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #B6BCBF;
    padding-top: 30px;
    padding-bottom: 30px;
    
}

.header__menu-item:hover {
    cursor: pointer;
    border-bottom: 3px solid #ffffff;
    color: #ffffff;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    -ms-transition: all .1s linear;
    -o-transition: all .1s linear;
    transition: all .1s linear;
}