.logo {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    margin-left: 10%;
    margin-top: 30px;
    margin-bottom: 30px;
}